@import url("./fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease;
}

body {
    background: #dfe0e1;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 2vw;
    right: 2vw;
    left: 0;

    .header-container {
        nav ul {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 30px;

            a {
                display: block;

                &:hover {
                    transform: rotate(10deg) scale(1.08);
                }
            }

            img {
                width: 44px;
            }

            li:first-child {
                img {
                    display: block;
                    transform: translateY(2px);
                    width: 54px;
                }
            }
        }
    }
}

/* Main Content  */
.tab-content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    max-width: 1035px;
    margin: 0 auto;
    display: none;

    &.show {
        display: flex;
    }

    .tab-content-main-head {
        display: flex;
        align-items: center;
        gap: 6px;

        h1 {
            font-size: clamp(20px, 5vw, 60px);
            line-height: 100px;
            font-weight: 400;
            color: #161616;
            font-family: 'DMSerifText', serif;
        }

        a {
            img {
                width: 90px;
            }
        }
    }

    .tab-content {
        text-align: center;
        font-size: clamp(12px, 2vw, 20px);
        font-weight: 400;
        padding: 0 12px;
        font-family: 'Apercu-Light', sans-serif;
    }
}

.footer {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    left: 0;

    .footer-items {
        display: flex;
        justify-content: end;

        li a {
            color: black;
            font-family: 'DailyChallenge';
            font-size: 28px;
        }
    }
}